In [15]:
import pandas as pd
from time import time
from sqlalchemy import create_engine

In [2]:
#!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-09.csv.gz

--2024-01-29 12:50:49--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-09.csv.gz
Resolving github.com (github.com)... 140.82.121.3
Connecting to github.com (github.com)|140.82.121.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/b5af7693-2f26-4bd5-8854-75edeb650bae?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240129%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240129T115049Z&X-Amz-Expires=300&X-Amz-Signature=120899c254abc13386640ad040f6bcb0cb5a6ce9dcc9f4217000b74995498a6f&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-09.csv.gz&response-content-type=application%2Foctet-stream [following]
--2024-01-29 12:50:49--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/b5af7693-2f26-4bd5-8854-75edeb650bae?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240129%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240129T115049Z&X-Amz-Expires=300&X-Amz-Signature=120899c254abc13386640ad040f6bcb0cb5a6ce9dcc9f4217000b74995498a6f&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-09.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.111.133, 185.199.109.133, 185.199.110.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 7854533 (7.5M) [application/octet-stream]
Saving to: ‘green_tripdata_2019-09.csv.gz’

green_tripdata_2019 100%[===================>]   7.49M  4.47MB/s    in 1.7s

2024-01-29 12:50:51 (4.47 MB/s) - ‘green_tripdata_2019-09.csv.gz’ saved [7854533/7854533]

In [3]:
#!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

--2024-01-29 12:51:02--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 54.231.170.48, 16.182.33.208, 52.216.219.128, ...
Connecting to s3.amazonaws.com (s3.amazonaws.com)|54.231.170.48|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi+_zone_lookup.csv’

taxi+_zone_lookup.c 100%[===================>]  12.03K  --.-KB/s    in 0.001s

2024-01-29 12:51:03 (11.3 MB/s) - ‘taxi+_zone_lookup.csv’ saved [12322/12322]

In [12]:
# Create engine
user = 'root'
password = 'root'
host = 'localhost'
port = 5432
db =  'ny_taxi'
engine = create_engine(f'postgresql://{user}:{password}@{host}:{port}/{db}')

In [13]:
# Ingest taxi_zone_lookup
table_name = 'taxi_zone_lookup'
df_lookup = pd.read_csv('taxi+_zone_lookup.csv')
df_lookup.head(n=10).to_sql(name=table_name, con=engine, if_exists='replace')
df_lookup.to_sql(name=table_name, con=engine, if_exists='append')

265

In [16]:
# Ingest green_taxi_trips
table_name = 'green_taxi_trips'
df_iter = pd.read_csv('green_tripdata_2019-09.csv.gz', iterator=True, chunksize=100000)
df_green = next(df_iter)
df_green.lpep_pickup_datetime = pd.to_datetime(df_green.lpep_pickup_datetime)
df_green.lpep_dropoff_datetime = pd.to_datetime(df_green.lpep_dropoff_datetime)

df_green.head(n=0).to_sql(name=table_name, con=engine, if_exists='replace')
df_green.to_sql(name=table_name, con=engine, if_exists='append')
print('First chunk loaded!')

while True:
    t_start = time()
    df_green = next(df_iter)
    df_green.lpep_pickup_datetime = pd.to_datetime(df_green.lpep_pickup_datetime)
    df_green.lpep_dropoff_datetime = pd.to_datetime(df_green.lpep_dropoff_datetime)
    df_green.to_sql(name=table_name, con=engine, if_exists='append')
    t_end = time()
    print(f'chunk loaded!, took {t_end - t_start}')

First chunk loaded!
chunk loaded!, took 7.165397644042969
chunk loaded!, took 7.08401894569397

/var/folders/0_/6v10ch9x3r36n7qwk4kmwfbc0000gn/T/ipykernel_44631/1958756195.py:14: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df_green = next(df_iter)

chunk loaded!, took 7.132583141326904
chunk loaded!, took 3.122134208679199

StopIteration:

In [23]:
## Q1 
# Answer rm

In [24]:
## Q2
# Answer 0.42.0

In [40]:
## Q3
query = """
select COUNT(*)
from green_taxi_trips
where DATE(lpep_pickup_datetime) = '2019-09-18' AND DATE(lpep_dropoff_datetime) = '2019-09-18';
"""
pd.read_sql(query, con = engine) 
# Answer 15612

   count
0  15612

In [45]:
## Q4
query = """
select DATE(lpep_pickup_datetime), SUM(trip_distance) AS total_distance
from green_taxi_trips
GROUP BY 1
ORDER BY 2 DESC
LIMIT 3 
"""
pd.read_sql(query, con = engine) 
# Answer 2019-09-26	58759.94

         date  total_distance
0  2019-09-26        58759.94
1  2019-09-05        58450.56
2  2019-09-12        58233.45

In [82]:
## Q5
query = """
SELECT t."Borough", SUM(g.total_amount) as sum_of_total_amount
FROM green_taxi_trips g
LEFT JOIN taxi_zone_lookup t ON t."LocationID" = g."PULocationID"
WHERE DATE(lpep_pickup_datetime) = '2019-09-18'and t."Borough" != 'Unknown'
GROUP BY 1
having SUM(g.total_amount) > 50000 ;
"""
pd.read_sql(query, con = engine) 
# Answer 
# Brooklyn	96333.24
# Manhattan	92288.01
# Queens	86786.50

     Borough  sum_of_total_amount
0   Brooklyn             96333.24
1  Manhattan             92288.01
2     Queens             86786.50

In [120]:
## Q6
query = """
WITH temp AS 
(
SELECT g.lpep_pickup_datetime, t1."Zone" as pickup_zone, t2."Zone" as dropof_zone, g.tip_amount
FROM green_taxi_trips g
LEFT JOIN taxi_zone_lookup t1 ON g."PULocationID" = t1."LocationID"
LEFT JOIN taxi_zone_lookup t2 ON g."DOLocationID" = t2."LocationID"
WHERE EXTRACT(MONTH FROM g.lpep_pickup_datetime) = 9 and t1."Zone" = 'Astoria'
)
select dropof_zone, sum(tip_amount) from temp
WHERE dropof_zone IN ('Central Park', 'Jamaica', 'JFK Airport', 'Long Island City/Queens Plaza')
group by dropof_zone
order by 2 desc
"""
pd.read_sql(query, con = engine)

# Answer Long Island City/Queens Plaza

                     dropof_zone      sum
0  Long Island City/Queens Plaza  1418.06
1                    JFK Airport   554.52
2                   Central Park   115.84
3                        Jamaica    52.76

In [50]:
## Q7

,index,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,...,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,0,2,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1,65,189,5,2.00,...,0.5,0.5,2.36,0.0,None,0.3,14.16,1,1,0.0
1,1,2,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1,97,225,5,3.20,...,0.5,0.5,0.00,0.0,None,0.3,13.30,2,1,0.0
2,2,2,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1,37,61,5,2.99,...,0.5,0.5,0.00,0.0,None,0.3,13.30,2,1,0.0

   index  LocationID Borough                     Zone service_zone
0      0           1     EWR           Newark Airport          EWR
1      1           2  Queens              Jamaica Bay    Boro Zone
2      2           3   Bronx  Allerton/Pelham Gardens    Boro Zone