In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [15]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [5]:
df.head(10)

NameError: name 'df' is not defined

In [2]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [7]:
df = pd.read_csv('yellow_tripdata_2021-01.csv.gz')

/var/folders/0_/6v10ch9x3r36n7qwk4kmwfbc0000gn/T/ipykernel_31212/2010522994.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('yellow_tripdata_2021-01.csv.gz')

In [3]:
engine.connect()

In [8]:
pd.io.sql.get_schema(df, name='yellow_taxi_data', con = engine)

'\nCREATE TABLE yellow_taxi_data (\n\t"VendorID" FLOAT(53), \n\ttpep_pickup_datetime TEXT, \n\ttpep_dropoff_datetime TEXT, \n\tpassenger_count FLOAT(53), \n\ttrip_distance FLOAT(53), \n\t"RatecodeID" FLOAT(53), \n\tstore_and_fwd_flag TEXT, \n\t"PULocationID" BIGINT, \n\t"DOLocationID" BIGINT, \n\tpayment_type FLOAT(53), \n\tfare_amount FLOAT(53), \n\textra FLOAT(53), \n\tmta_tax FLOAT(53), \n\ttip_amount FLOAT(53), \n\ttolls_amount FLOAT(53), \n\timprovement_surcharge FLOAT(53), \n\ttotal_amount FLOAT(53), \n\tcongestion_surcharge FLOAT(53)\n)\n\n'

In [9]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv.gz', iterator=True, chunksize=100000)

In [10]:
df = next(df_iter)

In [11]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [12]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5

In [13]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [14]:
df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

1000

In [15]:
from time import time

In [16]:
while True:
    t_start = time()
    df = next(df_iter)
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')
    t_end = time()
    print(f'chunk loaded!, took {t_end - t_start}')

chunk loaded!, took 6.659454107284546
chunk loaded!, took 6.904417037963867
chunk loaded!, took 7.236107110977173
chunk loaded!, took 7.0770087242126465
chunk loaded!, took 6.8254170417785645
chunk loaded!, took 6.705712080001831
chunk loaded!, took 6.7331788539886475
chunk loaded!, took 6.633486747741699
chunk loaded!, took 6.664844036102295
chunk loaded!, took 6.682766914367676
chunk loaded!, took 6.671493053436279

/var/folders/0_/6v10ch9x3r36n7qwk4kmwfbc0000gn/T/ipykernel_31212/3477478914.py:3: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

chunk loaded!, took 6.5587241649627686
chunk loaded!, took 4.225703001022339

StopIteration: